<h1 class="page-header ng-scope" itemprop="name">Hot Spring Maps!</h1>

<div class="row">
    <div class="col-md-4">

        <div class="well">
            <p class="lead">
                <a href="http://www.angularjs.org/" rel="external" target="_blank" class="link-external"><span itemprop="requirements">AngularJS</span></a>
                directives to integrate <a href="http://maps.google.com/" rel="external" target="_blank" class="link-external">Google Maps</a>
                into your applications.
            </p>

            <a class="btn btn-success btn-sm" rel="" href="#map">
                <i class="icon-download"></i>
                Go to Maps
            </a>

            <hr>

            <div class="share-button sharer-0" flyout="bottom center" text="Checkout Google Maps directives for AngularJS" style="display: block;"><label class="entypo-export"><span>Share</span></label><div class="social bottom center"><ul><li class="entypo-twitter" data-network="twitter"></li><li class="entypo-facebook" data-network="facebook"></li><li class="entypo-gplus" data-network="gplus"></li></ul></div></div>

            <div>Add to Home screen on Android or iOs ! </div>
        </div>


    </div>

    <div class="col-md-8">
        <img src="http://placehold.it/725x400">
    </div>
</div>
