<div class="row-fluid">
<p>this will plot springs on map when you select state below..</p>
<form class="form-inline">
<div class="form-group">
  <label for="states">Select State:</label>
  <select class="form-control" id="states" name="states" ng-model="stateName" ng-options="state as state for state in states"></select>
</div>
<div class="form-group">
  <button class="btn btn-danger" ng-click="removeMarkers()" ng-disabled="stateName===''">Clear Map</button>
</div>
<div class="form-group"><label>OR</label></div>
 <div class="form-group">
    <label for="springName">Spring Name:</label>
    <input type="text" class="form-control" id="springName" ng-model="springName" placeholder="Type Name of Hot Spring">
  </div>
  <div class="form-group">
    <button class="btn btn-danger" ng-click="springName=''" ng-disabled="springName===''">Clear Search</button>
  </div>
</form>

<!-- <ul class="list-group">
 <li class="list-group-item">Traffic: <input type="checkbox" text="TrafficLayer On/Off" ng-model="map.showTraffic"></li>
<li class="list-group-item">Bicycling: <input type="checkbox" text="BicyclingLayer On/Off" ng-model="map.showBicycling"></li>
<li class="list-group-item">Weather: <input type="checkbox" text="Weather On/Off" ng-model="map.showWeather"></li>
<li class="list-group-item">Heat: <input type="checkbox" text="Heat On/Off" ng-model="map.showHeat"></li>
</ul> -->

  <ui-gmap-google-map id="springMap" center="map.center" zoom="map.zoom" options="map.options" control="map.control" ng-show="showMap">
    <!--  <ui-gmap-layer type="TrafficLayer" show="map.showTraffic"></ui-gmap-layer>
        <ui-gmap-layer type="BicyclingLayer" show="map.showBicycling"></ui-gmap-layer>
        <ui-gmap-layer namespace="weather" type="WeatherLayer" show="map.showWeather"></ui-gmap-layer>
        <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer> -->
    <!-- 
    <ui-gmap-marker ng-repeat="spring in springs" coords="{latitude:spring.Latitude, longitude: -(spring.Longitude)}" options="{title:spring.SpringName +'-- '+spring.TempF}" idkey="springs.indexOf(spring)" click="onClick()">
        <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div><h5>{{spring.SpringName}}</h5>
                <p>temperature: {{spring.TempF}}</p>
                <p><a href="https://duckduckgo.com/?q={{ (spring.SpringName + state).split(' ').join('+') }}" target="_blank">Search for more info on {{spring.SpringName}}</a></p>
                </div>
            </ui-gmap-window>
    </ui-gmap-marker> -->
      <ui-gmap-markers models="map.springMarkers" coords="'self'"  icon="icon"  options="'self'">
          <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <div>
                   <p ng-non-bindable >{{ custom.SpringName }} -- {{ custom.TempF }}</p>
                   <p ng-non-bindable><a href="https://duckduckgo.com/?q={{ (custom.SpringName + state).split(' ').join('+') }}" target="_blank">Search for more info on {{custom.SpringName}}</a></p>
                    <p ng-non-bindable>This is an info window at {{ latitude}}, {{ longitude }}!</p>

                    <p class="muted"><a data-target="#mapDirectionsModal" data-toggle="modal">
                        Click for directions to : {{ custom.SpringName }}</a></p>
                </div>
            </ui-gmap-windows> 
        </ui-gmap-markers>

        <!--  <ui-gmap-markers models="map.springMarkers" coords="'self'">
          <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <div>
                  asdfadsf
                </div>
            </ui-gmap-windows> 
        </ui-gmap-markers> -->

         <ui-gmap-marker ng-show="springDetail" coords="foundSpring.coords" options="foundSpring.options" idKey="80000" click="onClick()">
          <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                <div><h5>{{foundSpring.SpringName}}</h5>
                <p>temperature: {{foundSpring.TempF}}</p>
                <p><a href="https://duckduckgo.com/?q={{ (foundSpring.SpringName + state).split(' ').join('+') }}" target="_blank">Search for more info on {{foundSpring.SpringName}}</a></p>
                </div>
            </ui-gmap-window>
          </ui-gmap-marker>


         <ui-gmap-marker ng-if="displayYourLocation" coords="staticMarker.coords" options="staticMarker.options" events="staticMarker.events" idKey="staticMarker.id">
         <ui-gmap-window options="windowOptions">
         <div><h5>yourLocation</h5></div>
         <p ng-non-bindable>your location:{{ "latitude:" + staticMarker.coords.latitude + 'longitude:' + staticMarker.coords.longitude }}</p>
         </ui-gmap-window>
          </ui-gmap-marker>

          <ui-gmap-marker ng-if="displayYourLocation" coords="staticMarker2.coords" options="staticMarker2.options" events="staticMarker2.events" idKey="staticMarker2.id">
         <ui-gmap-window options="windowOptions">
         <div><h5>yourLocation</h5></div>
         <p ng-non-bindable>your location:{{ "latitude:" + staticMarker2.coords.latitude + 'longitude:' + staticMarker2.coords.longitude }}</p>
         </ui-gmap-window>
          </ui-gmap-marker>

  </ui-gmap-google-map>
  <div ng-show="showMap">
  <div class="row top10">
    <div class="col-sm-3">
       <!--  <a href="#mapDirectionsModal" role="button" data-toggle="modal" class="btn btn-primary">Click For Directions</a> -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mapDirectionsModal">
          Click for directions
      </button>
    </div>
  </div>
           
  </div>

  <div class="table-responsive" ng-show="!showMap">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th><th>Latitude</th><th>Longitude</th><th>Temperature</th><th>More Info Link</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="spring in filteredSprings">
      <td><a ng-click="mapSpring(spring)"> {{ spring.SpringName }}</a></td>
      <td>{{ spring.Latitude }}</td>
      <td>{{ spring.Longitude }}</td>
      <td>{{ spring.TempF }}</td>
      <td><a href="https://duckduckgo.com/?q={{ (spring.SpringName +' '+ state).split(' ').join('+') }}" target="_blank">Search for more info on {{spring.SpringName}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<div id="mapDirectionsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Directions From </h3>
                </div>
                <div class="modal-body">
                     <div id="mapDirectionsPanelContent">
                        <input id="comingFrom" ng-model="comingFrom" type="text">
                     </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                    <button type="button" class="btn btn-success" ng-click="calcRoute()">
          Go
      </button>
                </div>
            </div>
        </div>
  </div>